[submodule "packages/yay"]
	path = packages/yay
	url = https://aur.archlinux.org/yay.git
[submodule "packages/mangohud"]
	path = packages/mangohud
	url = https://aur.archlinux.org/mangohud.git
[submodule "packages/flutter"]
	path = packages/flutter
	url = https://aur.archlinux.org/flutter.git
[submodule "packages/brave-bin"]
	path = packages/brave-bin
	url = https://aur.archlinux.org/brave-bin.git
[submodule "packages/brave-nightly-bin"]
	path = packages/brave-nightly-bin
	url = https://aur.archlinux.org/brave-nightly-bin.git
[submodule "packages/teams"]
	path = packages/teams
	url = https://aur.archlinux.org/teams.git
[submodule "packages/discord_arch_electron"]
	path = packages/discord_arch_electron
	url = https://aur.archlinux.org/discord_arch_electron.git
[submodule "packages/ventoy-bin"]
	path = packages/ventoy-bin
	url = https://aur.archlinux.org/ventoy-bin.git
[submodule "packages/upd72020x-fw"]
	path = packages/upd72020x-fw
	url = https://aur.archlinux.org/upd72020x-fw.git
[submodule "packages/wd719x-firmware"]
	path = packages/wd719x-firmware
	url = https://aur.archlinux.org/wd719x-firmware.git
[submodule "packages/aic94xx-firmware"]
	path = packages/aic94xx-firmware
	url = https://aur.archlinux.org/aic94xx-firmware.git
