[submodule "packages/yay"]
	path = packages/yay
	url = https://aur.archlinux.org/yay.git
[submodule "packages/mangohud"]
	path = packages/mangohud
	url = https://aur.archlinux.org/mangohud.git
[submodule "packages/flutter"]
	path = packages/flutter
	url = https://aur.archlinux.org/flutter.git
[submodule "packages/brave-bin"]
	path = packages/brave-bin
	url = https://aur.archlinux.org/brave-bin.git
[submodule "packages/brave-nightly-bin"]
	path = packages/brave-nightly-bin
	url = https://aur.archlinux.org/brave-nightly-bin.git
[submodule "packages/teams"]
	path = packages/teams
	url = https://aur.archlinux.org/teams.git
[submodule "packages/discord_arch_electron"]
	path = packages/discord_arch_electron
	url = https://aur.archlinux.org/discord_arch_electron.git
[submodule "packages/ventoy-bin"]
	path = packages/ventoy-bin
	url = https://aur.archlinux.org/ventoy-bin.git
[submodule "packages/upd72020x-fw"]
	path = packages/upd72020x-fw
	url = https://aur.archlinux.org/upd72020x-fw.git
[submodule "packages/wd719x-firmware"]
	path = packages/wd719x-firmware
	url = https://aur.archlinux.org/wd719x-firmware.git
[submodule "packages/aic94xx-firmware"]
	path = packages/aic94xx-firmware
	url = https://aur.archlinux.org/aic94xx-firmware.git
[submodule "packages/onlyoffice-bin"]
	path = packages/onlyoffice-bin
	url = https://aur.archlinux.org/onlyoffice-bin.git
[submodule "packages/lib32-nvidia-470xx-utils"]
	path = packages/lib32-nvidia-470xx-utils
	url = https://aur.archlinux.org/lib32-nvidia-470xx-utils.git
[submodule "packages/nvidia-470xx-settings"]
	path = packages/nvidia-470xx-settings
	url = https://aur.archlinux.org/nvidia-470xx-settings.git
[submodule "packages/nvidia-470xx-utils"]
	path = packages/nvidia-470xx-utils
	url = https://aur.archlinux.org/nvidia-470xx-utils.git
[submodule "packages/android-platform"]
	path = packages/android-platform
	url = https://aur.archlinux.org/android-platform.git
[submodule "packages/android-sdk-build-tools"]
	path = packages/android-sdk-build-tools
	url = https://aur.archlinux.org/android-sdk-build-tools.git
[submodule "packages/android-sdk-cmdline-tools-latest"]
	path = packages/android-sdk-cmdline-tools-latest
	url = https://aur.archlinux.org/android-sdk-cmdline-tools-latest.git
[submodule "packages/android-sdk-platform-tools"]
	path = packages/android-sdk-platform-tools
	url = https://aur.archlinux.org/android-sdk-platform-tools.git
