# .github/scripts/build/long
node_modules

env.sh

# Archives
*.tar*
*.tgz
*.txz
*.zip
*.rar
*.7z

# makepkg
packages/*/src
packages/*/pkg

# build dir
/build
/buildir

# pkgs dest
/pkgs
/pkgsdest
/pkgdest
